<div class="tile tile-link" data-groups='{{ if .Link.tags }}{{ delimit .Link.tags "," }}{{ end }}'>
    <a class=" tile-link" href="{{ .Link.url }}" {{ if .Jump }} target="_blank"{{ end }}>
    <div class="tile-box" 
        data-tooltip="{{ .Link.desc }}"
        data-title='{{ .Link.name }}'
        data-url='{{ .Link.url }}'
        {{ if .Link.bg_color }} data-bg-color='{{ .Link.bg_color | safeCSS }}'{{ end -}}
        {{ if .Link.txt_color }} data-txt-color='{{ .Link.txt_color | safeCSS }}'{{ end -}}
        {{ if .Link.img }} data-img='{{ .Link.img }}'{{ end -}}
        {{ if or .Link.bg_color .Link.txt_color }} style='{{ if .Link.bg_color }}background-color:{{ .Link.bg_color | safeCSS }};{{ end }} {{ if .Link.txt_color }}color:{{ .Link.txt_color | safeCSS }}{{end}}'{{ end -}}>
        {{ if .Link.img }}<img class="logo" src="{{ .Link.img }}"></img>{{ else }}{{ .Link.name }}{{ end }}
    </div>
    </a>
     <div class="tile-title">{{ .Link.name }}
       <br/> {{ if .Link.documentation }}<div class="tile-documentation>"><a class="tile-documentation" href="{{ .Link.documentation }}" {{ if .Jump }} target="_blank"{{ end }} style="text-decoration: none; font-size: 14px;line-height: 30px;">❓Comment ça marche?</a></div>{{ end -}}
    </div>
</div>  
